body{
    background-color: #ff66ff;

}

form {
    background-color: #ff66ff;
    padding: 20px;
    margin: 0 auto;
    width: 540px auto;
    font: 16px sans-serif;
    border-radius: 10px;
}
textarea {
   
    margin: 10px 0;
    width: 540px;
    height: 120px;
}
h1{
    color: #330747;
    

}
h4{
    color: #330747;
}
li p{
    text-indent: 50px;
}
.error {
    color: red;
}